// COLOR PALETTE
$darkGray : #58595b;
$gsaLightBlue : #8fc7ea;
$gsaBlue : #27328b;
$gsaBeige : #b7b6b6;
$offWhite : #efeadf;
$gsaRed : #af3639;
$powderBlue : #e2eef5;
$lightGray : #e5e5e5;
$gsaGrayBlock : #f1f1f1;

// LINKS
$gsaLinks: #0071bc;
$gsaLinkHoverColor: #23527c;
$gsaLinksVisited: $gsaLinks;

// Buttons
$primaryButtonColor : #205493;
$hoverPrimaryButtonColor : #112E51;
$secondaryButtonColor : #fff;
$hoverSecondaryButtonColor : $gsaGrayBlock;

// FONTS
$gsaFontFamily: 'Source Sans Pro', sans-serif;
$gsaBodyFont: 'Source Sans Pro',arial, sans-serif;

// HEADERS
$gsaSectionHeaderColor: #ccc;

// DESKTOP NAV
$primaryNavigationDesktopLeft : $offWhite;
$primaryNavigationDesktopCenter : $offWhite;
$primaryNavigationDesktopRight : $offWhite;
$navBorderColor : #ccc;

// CATEGORY NAVIGATION
$categoryNavFirstLevel: #d1c8b6;
$categoryNavSecondLevel: $offWhite;
$categoryNavThirdLevel: #f7f5f2;
$categoryNavSelected: $gsaLightBlue;
$categoryNavText: #333;

// MISC
$navItemColor : #433f36;
$singleRule: 3px solid #eaeaea;
$gsaGreyActiveorHoverState: #efeadf;
$socialIconHoverColor : #27386b;
$socialIconColor : #777;

// TABLES
$tableHeadBG : #b6c4d1;
$tableColoredRow : #f1f1f1;



